
<h3>Documents Report</h3>

<div class="left">
  <%= datagrid_form_for @document_report %>

  <div class='total'>Total: <%= @document_report.assets.count %></div>
  <%= datagrid_table(@document_report) %>
  <%= paginate @document_report.assets %>
</div>

<div class="right">
  <%= render :partial => "shared/source", :object => @document_report %>
</div>
