<%= render :partial => 'shared/reports' %>

<h3>Time Entries Report</h3>


<%= form_for @time_entry_report, :html => {:method => :get} do |f| -%>
  <% @time_entry_report.filters.each do |filter| -%>
    <div class="filter">
      <%= f.datagrid_label filter %>
      <%= f.datagrid_filter filter %>
    </div>
    <div class="clear"></div>
  <% end -%>

  <%= f.submit %>
<% end -%>


<% assets = @time_entry_report.assets.paginate(:page => params[:page]) -%>

<div>Total: <%= assets.total_entries %></div>
<%= datagrid_table(@time_entry_report, assets) %>
<%= will_paginate assets %>
