- grid = @documents_grid

.grid-index-grid
  %div{class: 'overflow-x-auto max-w-full p-4'}
    = datagrid_form_with model: grid, url: users_path
    .text-xl.m-3
      Total: #{grid.assets.total_count}
    = datagrid_table(grid)
    = paginate grid.assets
  %div
    = render :partial => "shared/source", :object => grid

