<h3>Users Report</h3>

<div class="right">
  <%= render :partial => "shared/source", :object => @user_report %>
</div>
<div class="left">
  <%= datagrid_form_for @user_report %>


  <div class='total'>Total: <%= @user_report.assets.total_count %></div>
  <%= datagrid_table(@user_report) %>
  <%= paginate @user_report.assets %>
</div>

