<h3>Users Report</h3>


<% form_for :user_report, :html => {:method => :get} do |f| -%>
  <% @user_report.filters.each do |filter| -%>
    <div class="filter">
      <%= f.datagrid_label filter %>
      <%= f.datagrid_filter filter %>
    </div>
    <%= f.submit %>
  <% end -%>
<% end -%>


<% assets = @user_report.assets.paginate(:page => params[:page]) -%>

<div>Total: <%= assets.total %></div>
<%= datagrid_table(@user_report, assets) %>
<%= will_paginate assets %>
