!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title DatagridDemo
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload"
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body
    %header.navbar.bg-base-100.mb-5.border-1
      .flex-1
        %a.btn.btn-ghost.text-xl{ href: root_path } Datagrid Demo
      .flex-none
        %ul.menu.menu-horizontal.px-1
          %li
            %a{:href => "https://github.com/bogdan/datagrid"} Gem Source
          %li
            %a{:href => "https://github.com/bogdan/datagrid-demo"} Demo Source
          %li
            %a{:href => "http://github.com/bogdan"} Bogdan Gusiev

    %main.px-6
      .tabs.tabs-bordered.tabs-lg.flex.mb-6{role: 'tablist'}
        %a.tab.flex-1{ role: 'tab', href: users_path, class: ("tab-active" if current_page?(users_path)) } Users (Basic)
        %a.tab.flex-1{ role: 'tab', href: time_entries_path, class: ("tab-active" if current_page?(time_entries_path)) } Time Sheets (Advanced)
        %a.tab.flex-1{ role: 'tab', href: issues_path, class: ("tab-active" if current_page?(issues_path)) } Issues (API)

      = yield
    - if Rails.env.production?
      / Google tag (gtag.js)
      %script{ async: true, src: "https://www.googletagmanager.com/gtag/js?id=G-BS8DKN2KWK" }
      %script
        :plain
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'G-BS8DKN2KWK');
